<h1>Hello! Nice to speak with you again.</h1>

<p>Some memories are unforgettable, and you made this <%= @entry.category.category %> been memorable for today. If you don't remember anything, this memory is about <%= @entry.theme %>.</p>

<p>Go to Futurapp and see what you wrote!</p>

<p>See ya!</p>
