<h1>Hello, <%= @user.username %></h1>

<p>
  Please, feel welcome to Futurapp, start to introduce your thoughts, predictions, etc... And see how many options offers to you!
</p>
<p>Hope to see you often in here!</p>
