<div class="lateral-navbar">

  <div class="logos ">

  </div>

  <div class="logos">
    <i class="fa-solid fa-timeline"></i>
  </div>

  <div class="logos">
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>

  <div class="logos">

  </div>

  <div class="logos">
    <i class="fa-solid fa-circle-plus"></i>
  </div>

  <div class="logos profile-img">

  </div>
</div>
