.title-date{
  background-color: #943F22;
  justify-content: space-between;
  color: white;
  border-radius: 5px 5px 0 0;
  padding: 5px 20px;
  padding-bottom: 0px;
  font-size: large;
  align-items: center;
}

.title-search h3{
  font-size: 30px;
}

.card-search{
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 20px 10px 60px 10px;
  font-family: Nunito;
  width: 100%;
}

.date-search{
  flex-direction: column;
}

.comment-search{
  padding: 5px 20px;
  padding-right: 10px;
}

.comment-share{
  align-items: end;
  justify-content: space-between;
}

.share-search{
  color: #D5B78A;
  font-size:30px;
  padding-right: 10px;
}

.search-icons{
justify-content: end;
}

#search-date.datepicker{
  margin-left: 15px;
  margin-right: 0;
}

.two-button{
  display: flex;
  justify-content: space-between;
}

.button-text{
  text-align: center;
}

.images-search{
  display: flex;
  justify-content: start;
  margin: 10px;
}

.images-search img{
  margin-right: 10px;
}

.modal-body-search{
  background-color: #D77B3E;
  color: white;
  font-family: Nunito;
}

.modal-header-search{
  background-color: #D77B3E;
  color: white;
  font-family: Nunito;
}

.modal-footer-search{
  background-color: #D77B3E;
  color: white;
  font-family: Nunito;
}
