.card-category-new-form {
  display: flex;
  width: 553px;
  height: 332px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card-category-show-card {
  display: flex;
  width: 553px;
  height: 332px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card-category__img {
  height: 60%;
}

.card-category__show-img {
  height: 57%;
}

.card-category__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-category__show-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-question-title {
  position: absolute;
  top: 65px;
  left: 10px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;

  color: #FFFFFF;
}

.card-show-question-title {
  position: absolute;
  top: 65px;
  left: 10px;
  font-family: 'Nunito';
  font-style: Bold;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;

}

.card-category__topic {
  width: 270px;
  height: 320px;
  background: #FFFFFF;
  border-radius: 5px 0px 0px 5px;
}

.card-category__show-topic {
  width: 33%;
  height: 320px;
  background: #FFFFFF;
  border-radius: 5px 0px 0px 5px;
}

.card-category__questions {
  margin: auto;
  width: 173px;
  height: 40%;
  padding: 15px 5px 5px 5px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  /* orange */

  color: #D77B3E;
}

.card-category__form {
  width: 270px;
  height: 320px;
  padding: 10px;
  background-color:#D77B3E;
  color: white;
  border-radius: 0px 5px 5px 0px;
  .form-check-input {
    transform: scale(0);
  }
  .form-check-input + label {
    cursor:pointer
  }
}

.card-category__show {
  width: 67%;
  height: 320px;
  padding: 10px;
  background-color:#D77B3E;
  color: white;
  border-radius: 0px 5px 5px 0px;
  position: relative;
}

.card-button-form {
  box-sizing: border-box;
  width: 65px;
  height: 20px;
  background: #D77B3E;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
}

.card-button-show {
  box-sizing: border-box;
  width: 65px;
  height: 20px;
  background: #D77B3E;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.card-button-add-show {
  box-sizing: border-box;
  width: 105px;
  height: 20px;
  background: #D77B3E;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  position: absolute;
  left: 10px;
  bottom: 10px;
}


.button-text {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  color: #FFFFFF;
  text-decoration: none;
}

.button-text:hover {
  color: white;
}

.category-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.category-item {
  position: relative;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  font-size: 12px;
}


.category-selector + label:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.category-selector:checked + label:after {
  width: 100%;
  left: 0;
}

.category-selector:checked + label {
  font-weight: 800;
}

.form-control {
  background-color: #D77B3E;
  border-top:#D77B3E;
  border-left: #D77B3E;
  border-right: #D77B3E;
  color:white;
}

::placeholder {
  color:white !important;
}

#new_entry .datepicker {
  background-color: #D77B3E !important;
}

.form-label {
  margin-bottom: 1px !important;
}

.response-text-user {
  font-family: Nunito;
  font-style: Light;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  line-height: 100%;
  align-items: Left;
  vertical-align: Top;
  margin-bottom: 0px;
}

.card-text-titles-style {
  font-family: Nunito;
  font-style: Regular;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  line-height: 100%;
  align-items: Left;
  vertical-align: Top;
}

.card-text-dates-style {
  font-family: Nunito;
  font-style: Bold;
  font-size: 12px;
  line-height: 16px;
  line-height: 100%;
  align-items: Left;
  vertical-align: Top;
  margin-right: 10px;
}

.card-text-categories-style {
  font-family: Nunito;
  font-style: Light;
  font-size: 12px;
  line-height: 16px;
  line-height: 100%;
  align-items: Center;
  vertical-align: Top;
  width: 60px;
  p {
    margin: 0px;
    width: 76px;
    text-align: center;
  }
}

.hover-line-style:hover {
  font-size: 16px;
  font-weight: 800;
}

.hover-line-style:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.hover-line-style:hover:after {
  width: 100%;
  left: 0;
}

.date-inline {
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
}

.show-inline-flex {
  display: flex;
  justify-content: space-between;
}

.category-day-inline {
  display: flex;
  justify-content: space-around;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.margin-dates-show {
  margin-right: 10px;
}

.response-text-user-margin {
  margin-left: 10px;
}

.response-icon-share {
  padding-top: 10px;
}
