.title-date{
  background-color: #FEF0D6;
  justify-content: space-between;
  color: #943F22;
  border-radius: 5px 5px 0 0;
  padding: 5px 20px;
  padding-bottom: 0px;
  font-size: large;
  align-items: center;
  border-bottom: #943F22 solid 1px;
}

.title-search h3{
  font-size: 30px;
}

.card-search{
  margin: 20px 0px 50px 0px;
  font-family: Nunito;
  width: 100%;
  border-top: #943F22 solid 1px;
  border-bottom: #943F22 solid 1px;
  border-right: #943F22 solid 1px;
  border-left: #943F22 solid 4px;
  border-radius: 5px;
}

.date-search{
  flex-direction: column;
}

.comment-search{
  padding: 5px 20px;
  padding-right: 10px;
  word-wrap: break-word;
}

.comment-share{
  align-items: end;
  justify-content: space-between;
}

.share-search{
  color: #943F22;
  font-size: 25px;
  padding-right: 10px;
}

.search-icons{
justify-content: end;
}

#search-date.datepicker{
  margin-left: 15px;
  margin-right: 0;
}

.two-button{
  display: flex;
  justify-content: space-between;
}

.button-text{
  text-align: center;
}

.images-search{
  display: flex;
  justify-content: start;
  margin: 10px;
}

.images-search img{
  margin-right: 10px;
}

.modal-body-search{
  background-color: #D77B3E;
  color: white;
  font-family: Nunito;
}

.modal-header-search{
  background-color: #D77B3E;
  color: white;
  font-family: Nunito;
}

.modal-footer-search{
  background-color: #D77B3E;
  color: white;
  font-family: Nunito;
}
