.page-container-forum {
  padding-top: 60px;
  color: #000000;
}
.content-container-forum{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-container-forum-general {
  margin-left: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subtitle-forum{
  width: 100%;
  justify-content: space-between;
  padding: 10px 5px;
}

.specific-theme-count{
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: 1px solid #943F22;
  padding: 5px 0px;
  background-color: #FEF0D6;
  padding: 5px;
}

.forum-theme-style-principal {
  display: flex;
  flex-direction: row;
}

.title-forum{
  color: #943F22;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 22px;
  padding-bottom: 25px;
}

.forum-title-style {
  color: #943F22;
  font-family: 'Nunito';
  font-style: normal;
  font-size: 20px;
  line-height: 22px;
}

.forum-theme-style {
  color: #943F22;
  font-family: 'Nunito';
  font-style: normal;
  line-height: 22px;
  font-size: 25px;
  padding: 15px 10px;
  margin: 0px;
  a {
    text-decoration: none;
    color:#943F22;
    font-weight: bolder;
  }
}

.forum-number-style {
  color: #943F22;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 22px;
  padding-right: 10px;
}

.forum-border-top {
  border-top: 4px solid;
  width: 100%;
  padding: 10px 0px;
  border-image: linear-gradient(to bottom, #943F22 20%, green 20%, green 40%, blue 40%, blue 60%, maroon 60%, maroon 80%, #943F22 80%);
  border-image-slice: 10;
  //border-left: 4px solid;
  border-bottom: #943F22 solid 1px;
}

.forum-theme-style-subtext {
  color: #943F22;
  font-family: 'Nunito';
  font-style:normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  padding: 15px 30px;
  a {
    text-decoration: none;
    color:#943F22;
  }
}
.forum-fontawesome-principal {
  color: #943F22;
}
