.page-container-forum-show {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-color: white;
  justify-content: center;
}
.content-container-forum-show{
  padding-top: 2.5em;
  width: 50vw;
  font-family: Nunito;
  display: flex;
  flex-direction: column;
}
.forum-fontawesome {
  color: #D77B3E;
  padding-right: 15px;
}
.forum-entry {
  padding-top: 15px;
  border-top: #D77B3E solid 1px;
  word-wrap: break-word;
}
.forum-comments {
  margin: 15px;
  padding: 15px;
  background-color: #f5ecdd;
  border-radius: 10px;
  border-left: #eeddbe solid 3px;
  word-wrap: break-word;
}
.forum-new-comment {
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
}
.forum-entry-principal {
  padding: 15px;
}
.forum-new-comment-form {
  background-color: #FEF0D6;
  border-radius: 10px;
  border-left: #eeddbe solid 3px;
}
.forum-comments-comment {
  padding: 0px 15px;
}
.forum-new-comment-button {
  font-family: Nunito;
  background: #D77B3E;
  color: #FFFFFF;
  border-radius: 15px;
  border: #D77B3E solid 1px;
  padding: 3px 20px;
  &:hover {
    background: #FFFFFF;
    color: #D77B3E;
  }
}
.forum-comments-email p {
  margin-bottom: 10px;
}
