.modal-close-button {
  position: absolute;
  top: 27px;
  right: 29px;
  z-index: 1;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
}
.modal-header-search{
  position: relative;
}
.btn-close-search{
  position: absolute;
  top: -9px;
  left: 485px;
}
.modal-close-button-navbar {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
}

.modal-content {
  background-color: transparent !important;
  border: none;
}

.btn-close {
  opacity: 1 !important;
}

a:hover {
  color: #D77B3E;
}
