.navbar {
  height: 70px;
  width: 100%;
  background-color: #D77B3E;
}
.logo-image {
  width: 60px;
  max-height: 100%;
}
.futurapp-title-navbar {
  font-family: Nunito;
  font-size: 36px;
  color: #FFFFFF;
}
.profile-image {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  object-fit: cover;
}
