.form-control {
  display: flex;
  flex-direction: row;
}

.search-icons {
  display: flex;
  flex-direction: row;
}
.iconify {
  font-size: 75px;
  color: #D5B78A;
}
// .search-bar {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
// }
.hide {
  display: none;
}

.myDIV:hover + .hide {
  display: block;
  color: white;
}

.button-share{
  border: none;
  background-color: white;
  padding: 0;
}
