.page-container-search {
  display: flex;
  background-color: #FFFFFF;
  justify-content: center;
  width: 100%;
}
.content-container-search {
  display: flex;
  flex-direction: column;
  width:70%;
  margin-left: 120px;
}
.form-control-search {
  display: flex;
  flex-direction: row;
  color:#943F22;
  background-color: #D5B78A;
  font-family: Nunito;
  border: 1px solid #D5B78A;
  padding: 10px;
  border-radius: 5px;
}
.iconify {
  font-size: 35px;
  color: #943F22;
}
#search-by-theme {
  color:#943F22;
  font-family: Nunito;
  padding: 10px;
}
.search-icons {
  display: flex;
  flex-direction: row;
  padding-bottom: 25px;
}
.search-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 40px 0px;
}
#search-date.datepicker {
  color:#943F22 !important;
  background-color: #D5B78A !important;
  font-family: Nunito !important;
  border: 1px solid #D5B78A;
  margin-right: 15px;
  padding: 10px;
  border-radius: 5px;
}
#category-prediction:checked + label {
  border: 2px solid #943F22;
  border-radius: 5px;
}
#category-event:checked + label {
  border: 2px solid #943F22;
  border-radius: 5px;
}
#category-thought:checked + label {
  border: 2px solid #943F22;
  border-radius: 5px;
}
#question_day_search:checked + label {
  border: 2px solid #943F22;
  border-radius: 5px;
}
.hide {
  display: none;
}

.myDIV:hover + .hide {
  display: block;
  color: #943F22;
}

.button-share{
  border: none;
  background-color: white;
  padding: 0;
}
