.form-control {
  display: flex;
  flex-direction: row;
}
#search-by-theme {
  color:#B8835D;
  background-color: #D5B78A;
  font-family: Nunito;
}
.search-icons {
  display: flex;
  flex-direction: row;
}
.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#search-date {
  width: 20;
  opacity: 0;
}
#category-prediction:checked + label {
  text-decoration: underline;
}
#category-event:checked + label {
  text-decoration: underline;
}
#category-thought:checked + label {
  text-decoration: underline;
}
#question_day_search:checked + label {
  text-decoration: underline;
}
