body {
  font: 100% "Lato", sans-serif;
  font-weight: 300;
  height: 100%;
  background-color: white;
}

.blue-bg {
  background-color: white;
  height: 100%;
}

.circle {
  height: 200px;
  width: 200px;
  font-weight: bold;
  padding: 0px 20px;
  border-radius: 50%;
  // background-color: #D77B3E;
  color: rgb(250, 242, 242);
  z-index: 2;
  display:flex;
  align-items: center;
  justify-content: center;
  background-image: url("orangefuturapp_white.png");
  background-size: cover;
}
.circle:hover{
  color: white;
}
.rotate{
  animation: rotation 10s infinite linear;
}

.how-it-works.row {
  display: flex;
}
// .how-it-works.row .col-2 {
//   display: inline-flex;
//   align-self: stretch;
//   align-items: center;
//   justify-content: center;
// }
.how-it-works.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid #ED8D8D;
  z-index: 1;
}
.how-it-works.row .col-2.bottom::after {
  // height: 50%;
  // left: 50%;
  // top: 50%;
}
.how-it-works.row .col-2.full::after {
  // height: 100%;
  left: calc(50% - 3px);
}
.how-it-works.row .col-2.top::after {
  // height: 50%;
  // left: 50%;
  // top: 0;
}

.timeline div {
  padding: 0;
  height: 40px;
}
.timeline hr {
  border-top: 3px solid white;
  margin: 0;
  top: 17px;
  position: relative;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
a{
  text-decoration: none;
}
.timeline .corner {
  border: 3px solid white;
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: 50%;
  top: -50%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}

.container-timeline{
  padding: 20px 100px 20px 200px;
}

.fa-arrows-to-circle{
  color: white;
  font-size: 40px;
  }

// .date-padding-timeline {
//   padding-right: 5px;
// }

.row{
  padding-left: 0;
  --bs-gutter-x: 0;
}

.container-fluid{
  background-color: #D77B3E;
}
