// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import "flatpickr/dist/flatpickr";

// Your CSS partials
@import "components/index";
@import "components/navbar_lateral";
@import "pages/index";
@import "components/_card_search";
@import "components/_banner";
@import "components/navbar";
@import "components/_timeline";
@import "components/_forum";
@import "components/_forum_show";


.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-color: white;
}

.content-container{
  margin: 20px 100px 20px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
